@charset "utf-8";

header {
    background-color: rgba(250, 238, 189, 0.5);
}

/* ----- 右半邊 ----- */
.faq {
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
    background-image: url(../logo/frong_bg40.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: local;
}

.faq h1 {
    font-size: 2rem;
    text-align: center;
    padding: 10px 0;
}

.faq h2 {
    font-size: 1.2rem;
    line-height: 26px;
    font-weight: bold;
    padding: 10px 0;
}

.faq h3 {
    width: 500px;
    color: white;
    background-color: rgba(225, 154, 57, 0.8);
    border-radius: 20px;
    padding: 5px;
    line-height: 20px;
}

.faq p {
    max-width: 560px;
    line-height: 18px;
    padding: 10px 20px;
    text-align: justify;
}

.faq span {
    color: firebrick;
}

/* ----------------RWD------------------ */
@media screen and (max-width:430px) {

    .faq {
        background-size: 600px 1100px;
    }

    .faq h3 {
        width: 300px;
    }
}

