@charset "utf-8";

/* --------- Main --------- */
.right-wrapper {
    background-color: rgba(157, 140, 122, 0.2);
}

/* ----- 右邊 TOP ----- */
main {
    width: 100%;
}

.banner {
    display: flex;
    margin: 50px auto;
    width: 950px;
    height: 400px;
    border: #9d8c7a 1px solid;
}

.banner li {
    background-color: aqua;
    transition: 0.5s;
    background-size: cover;
    background-position: center center;
}

.box1 {
    background-image: url(../Images/banner/biscuit_1920.jpg);
    flex-grow: 2;
    filter: opacity(0.4);
}

.box1:hover {
    filter: opacity(1);
    flex-grow: 4;
}

.box2 {
    background-image: url(../Images/banner/chocolate_1280.jpg);
    flex-grow: 6;
}

.box2:hover {
    filter: opacity(0.8);
    flex-grow: 2;
    background-image:url(../Images/banner/dough.jpg);
}

.box3 {
    background-image: url(../Images/banner/spoon_1280.jpg);
    flex-grow: 2;
    filter: opacity(0.4);
}

.box3:hover {
    filter: opacity(1);
    flex-grow: 4;
}

/* ----- 理念 ----- */
.concept {
    text-align: center;
    margin-top: 16px;
}

.concept h1 {
    color: white;
    font-size: 18px;
    font-weight: bold;
    max-width: 220px;
    line-height: 30px;
    background: rgb(148, 162, 66);
    background: linear-gradient(90deg, rgba(148, 162, 66, 1) 0%, rgba(241, 195, 80, 1) 80%, rgba(250, 238, 189, 1) 100%);
    border-radius: 20px;
    margin: 0 auto;
}

/* ----- 中間的主打商品 ----- */
section {
    margin: 30px 0;
}

section ul {
    display: flex;
    justify-content: space-evenly;
}

section li {
    padding: 40px 0;
    overflow: hidden;
}

section h3 {
    color: black;
    text-align: center;
    background-color: #f1c350;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;

    position: absolute;
    z-index: 2;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    display: none;
    animation: fade 1s linear 0s;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

section a:hover h3 {
    display: block;
}

section a {
    display: block;
    text-decoration: none;
    position: relative;
}

section img {
    width: 250px;
    height: 350px;
    overflow: hidden;
    transform: scale(1, 1);
    transition: 1s ease-out;

}

section img:hover {
    transform: scale(1.2, 1.2);
}

.concept p {
    padding: 10px;
    line-height: 24px;
}

/* ----- 店面+住址營業訊 ----- */
.route {
    position: relative;
}

.route img {
    width: 100%;
}

.route-text {
    width: 350px;
    height: 190px;
    background-color: rgba(250, 238, 189, 0.85);
    padding: 25px;
    line-height: 25px;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 74px;
    z-index: 2;
}

.route-text h3 {
    font-size: 17px;
    font-weight: bold;
}

.route-text i {
    font-size: 25px;
    line-height: 50px;
    margin: 0 8px;
}

.route-text a {
    background-color: #9d8c7a;
    color: #faeebd;
    display: block;
    width: 120px;
    line-height: 50px;
    margin: 15px 0;
    background-color: #9d8c7a;
    text-decoration: none;
    /* box-shadow: 6px 5px 5px #333; */
}

.route-text a:hover {
    color: black;
}